
<!--Title-->
<title> <%- title %></title>


<body>
  
  <!--Navigacija-->
  <div class="navigation fixed-top">
    <div class="container-fluid" >
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
           
            <!--Logo-->
            <div>
                <a href = '/'>
                   <img class="navbar-brand logoSlika" src = '/images/site/WOPlogo.svg'></img>
                </a>
            </div>
            
                     


          

            <!--Ostali deo menia-->
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <!--Pretrazivac-->
                <form class="form-inline" action ='/svi_poslovi' method='GET'>
                    <input class="form-control  mr-sm-5" style="background-color: rgba(28, 26, 61, 0.123); color: aliceblue; width: 20rem;" type="search" placeholder="Pratraži poslove" aria-label="Search" name='kljucneReci'>
                </form>    
                <!-- /Pretrazivac--> 

              <div class="navbar-nav ml-auto">
                  
                <a class="nav-item nav-link " href="/">Početna</a>
                <a class="nav-item nav-link active " href="/o_nama">O nama</a>
                <!--  Deo koji gost vidi  -->
                <% if(!ulogovaniKorisnik) { %>
                <a class="nav-item nav-link" href="/logIn">Prijavi se</a>
                <a class="nav-item nav-link" href="/registracija" style="color : rgb(0, 153, 255)">Registruj se</a>
                <!-- /Deo koji gost vidi -->
                <%}%>
              </div>
            </div> 
            <!--/Ostali deo menija-->

            <% if (ulogovaniKorisnik) {%>
            <!--Deo koji gost ne vidi-->
                <!--Dropdown avatara-->
                <div class="dropdown show">
                
                    <img class="avatar" 

                        <% if (ulogovaniKorisnik.slika != '') { %>
                            src = '/images/uploads/korisnici/<%-ulogovaniKorisnik.slika%>' 
                        <% } else { %>
                            src = '/images/site/noPhoto.jpg' 
                        <% } %>

                        href="#" role="button" id="dropdownMenuLink" 
                        data-toggle="dropdown" aria-haspopup="true" 
                        aria-expanded="false">
                    </img>



                    <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item text-black" href="/svi_korisnici/profil/<%-ulogovaniKorisnik.id%>">Moj profil</a>
                        
                        <% if (ulogovaniKorisnik.rola == 'admin') {%>
                            <a class="dropdown-item text-black" href="/svi_korisnici">Vidi sve profile</a>
                        <% } %>
                        <a class="dropdown-item text-danger" href="/logOut">Odjavi se</a>
                        
                      </div>
                </div>
                <!-- /Dropdown avatar-->
            <!-- /Deo koji gost ne vidi-->    
            <% } %>
            
            <!-- Button response -->

            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>

             <!-- /Button response -->
               
            
            
          </nav>
        <!--/Navbar--> 
        
    </div>
    <!--/Container-->
    <!-- Razdvajanje menija od sadrzaja-->
  </div>
  <!--/Navigacija------------------------------------------------------------------------------------------------------------------>




    <div class="container text-center onama">
        <h2>O nama </h2>
    </div>
    <hr style="background-color: rgb(211, 211, 211);" class="container">
    <div class="container text-left">
        <h4 class="bg-secondary">Cilj?</h4>
        <p>
            - <i class= 'text-warning'>Web oglasi za posao </i>je mesto na internetu, gde možete pronaći sve vrte poslova iz IT industrije.
            Cilj ovog web sajta je da korisnicima omogući lakše pretraživanje i pronalaženje onog posla za koji smatraju da su 
            dovoljno kvalifikovani. Pored toga nudi se mogučnost reklamiranja biznisa. Spajamo preduzetnike koje nude posao
            sa programerima, koderima, inženjerima, dizajnerima, developerima koju su spremni da taj posao prihvate i kompletno odrade. 
        </p>

        <h4 class="bg-secondary">Mogućnosti?</h4>
        <p>
            -<b>Imate</b> dovoljno veštine i znanja iz određene sfere IT industrije - pronađite kategoriju koja vam odgovara
            prijavite se za posao koji Vam odgovara i nastavite svoje profesionalno usavršavanje radeći nad stvarnim projektima, u samo dva klika.
            <br>
            Web oglasi za posao pored mogučnosti za potražnjom posla, nudi naravno i mogučnost oglašavanja za određeni posao kao i reklamiranje biznisa. 
            Pronađite profile koje se uklapaju u viziju za Vaš posao, pozovite ih na intervju i započnite rad nad 
            projektom uz pomoć Web oglasa za posao.<br><br>
        </p>
        <h4 class='bg-secondary'>Interfejs?</h4>
        <p>
            -<b>Web oglasi za posao</b> namenjen je svim korisnicima gde se stavlja akcenat na što standardizovaniji, 
            a u isto vreme funkcionalan interfejs.
            Interfejs je izgrađen tako da u svakom trenutku koirsnik ima na uvid i kontrolu nad svojim
            oglasima kako one na koje se prijavio, tako i na one koje je postavio. U svakom trenutku 
            može da izmeni oglas ili da doda još sadržaja, sve na jednom kliku.
        </p>
        <h4 class="bg-secondary">Komunikacija?</h4>
        <p>
            -<b>Komunikacija</b> za nas predstavlja najviši prioritet, kako između korisnika tako i sa nama, zato 
            Vam stojimo uvek na raspolaganju. Bez ustručavanja možete nas kontaktirati u vezi bilo čega na ovom sajtu. Mi ćemo se 
            potruditi da bez obzira na to da li ste iz IT sfere ili ne dobijete potpuno razumljive povratne informacije. 
            Hvala Vam na poverenju!
        </p>
    </div>




     
    <!-- Footer -->
    <div class="container-fluid fixed-bottom footer small">
        <!-- Linija -->
        <hr class='bg-white'>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 text-secondary">
                nikolavlad63@gmail.com
            </div>
            <div class="col-lg-4 col-sm-4 text-secondary">
                Web oglasi za posao - 2020 <sup>&copy</sup> 
            </div>
            
            <div class="col-lg-4 col-sm-4">
                <a href="https://instagram.com/__nik0lv?igshid=1lzhwdmj6zw2o&amp;fbclid=IwAR3qzJemENnY9hk63ATgLgRVBJM-xfb940iFVN8ZRxBRqSKJ6kYHrtHd25A"><i class="fab fa-instagram ml-3" style="color:blueviolet"></i></a>
                <a href="https://www.facebook.com/nikola.vladimirov.589/"><i class="fab fa-facebook ml-3"></i></a>
            </div>
        </div>
    </div>
    <!-- Footer -->

</body>