
<!--Title-->
<title> <%- title %></title>


<body>
   
    
    <!--Navigacija-->
    <div class="navigation fixed-top">
        <div class="container-fluid" >
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
               
                <!--Logo-->
                <a class="navbar-brand" href="#">
                    <b >Web oglasi za posao</b>
                </a>
                
                         


              

                <!--Ostali deo menia-->
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <!--Pretrazivac-->
                    <form class="form-inline" action ='' method=''>
                    <input class="form-control mr-sm-2" style="background-color: rgba(28, 26, 61, 0.123); color: aliceblue;" type="search" placeholder="Pratraži poslove" aria-label="Search">
                    </form>    
                    <!-- /Pretrazivac--> 

                  <div class="navbar-nav ml-auto">
                      
                    <a class="nav-item nav-link active" href="#">Početna <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link " href="#">O nama</a>
                    <!--  Deo koji gost vidi  -->
                    <a class="nav-item nav-link" href="#">Prijavi se</a>
                    <a class="nav-item nav-link" href="#" style="color : rgb(0, 153, 255)">Registruj se</a>
                    <!--/End-->
                  </div>
                </div> 
                <!--/Ostali deo menija-->

                <!--Deo koji gost ne vidi-->
                    <!--Dropdown avatara-->
                    <div class="dropdown show">
                        <img class="avatar" src = '../static/img/avatar.jpg' href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </img>
                        <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item text-black" href="#">Moj profil</a>
                            <a class="dropdown-item text-danger" href="#">Odjavi se</a>
                          </div>
                    </div>
                    <!-- /Dropdown avatar-->
                <!-- /Deo koji gost ne vidi-->    

                <!-- Button response -->

                <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"></span>
                </button>

                 <!-- /Button response -->
                   
                
                
              </nav>
            <!--/Navbar--> 
            
        </div>
        <!--/Container-->
        <!-- Razdvajanje menija od sadrzaja-->
    </div>
    <!--/Navigacija------------------------------------------------------------------------------------------------------------------>
    
    
    <!-- Akcije -->
    <div class = 'container bg'>
        <div class=" row text-right" >
            <div class="col-xl-12">
                <a href="" style=" color : white" class=""><i class="fas fa-plus text-success" ></i> Dodaj oglas</a>
                <a href =" " class="m-3" style="color: white;"><i class="fas fa-border-all text-warning"></i></i> Vidi sve kategorije</a>
            </div>
            <hr>
            <div class="col-xl-12">
                <a href =" " class="" style="color: white;"><i class="fas fa-edit " style="color : rgb(0, 204, 255)"></i> Izmeni kategoriju</a>
                <a href =" " class="m-3" style="color: white;"><i class="fas fa-trash" style="color : rgb(255, 64, 64)"></i> Obriši kategoriju</a>
            </div>
        </div>
    </div>
    <br>
    <!-- /Akcije -->

    <!-- Filtriranje i pretrazivanje -->
        <div class="container mr-5 mb-3">
            <form action='' method=''>
                <div class = 'row '>
    
                    <!-- Naziv-->
                    <div class="col-xl-3 ">
                        <input type="text" class="form-control filter-style" placeholder="Ključna reč" >
                    </div>
                    <!-- /Naziv-->
    
                    <!-- Datum-->
                    <div class="col-xl-3">
    
                       <select class ='form-control filter-style'>
                        <option value="">
                            Prvo : Aktuelni
                        </option>

                           <option value="" >
                                Prvo : Najnoviji
                           </option>
                           <option value="">
                                Prvo : Najstariji
                         </option>
                       </select>
    
                    </div>
                    <!-- /Datum-->
    
                    <!-- Dugmici -->
                    <div class="col-xl-3">
                       <input type="button" value="Filtriraj" class="btn btn-success ">
                       <input type="button" value="Poništi" class="btn btn-danger ">
                    </div>
                    <!-- /Dugmici -->
    
                </div>
            </form>
        </div>
    <!-- /Filtriranje i pretrazivanje -->



    <!-- Detalji o kategoriji -->
        <div class="container">
            <div class = 'text-center  kategorija-naslov'>
                <h1> <%- kategorija[0].naziv %> </h1>
            </div>
        </div>
    <!-- /Detalji o kategoriji-->



    <!-- Prikaz broja oglasa-->
    <div class="container">
        <span class ='ml-5 mb-3'> Broj oglasa :</span> 
        
    </div>
    <!-- /Prikaz broja oglasa -->
    <br>




    <!-- Spisak aktivnih oglasa u kategoriji-->
    <div class="container ">
        
        <!-- Oglas1-->
        <div class="card text-left bg-dark mt-1 mb-1 ml-4 mr-4">
            <div class="card-header" style="color:rgb(255, 196, 0);">
              Naziv posla
            </div>
            <div class="card-body ">
                <p class ='card-text text-success'>
                    #java #net #npm
                </p>
                <p class="card-text" style="padding-left: 30px;">
                    Kratak opis posla Kratak opis poslaKratak opis poslaKratak opis poslaKratak opis poslaKratak opis posla
                    Kratak opis posla Kratak opis poslaKratak opis poslaKratak opis poslaKratak opis poslaKratak opis posla
                    Kratak opis posla Kratak opis poslaKratak opis poslaKratak opis poslaKratak opis poslaKratak opis posla
                    Kratak opis posla Kratak opis poslaKratak opis poslaKratak opis poslaKratak opis poslaKratak opis posla.
                    <br>
                    <a href=""> Detaljnije...</a>
                </p>
               
             
            </div>
            <div class="card-footer ">
                <!-- Izmena i brisanej (admin) i odredjeni korisnik-->
                
                <!-- Prijava na poslu-->
                <div class = 'text-right'>
                    <i class="fas fa-pen text-info mr-3"></i>
                    <i class="fas fa-trash text-danger mr-3"></i>
                    <a href = '' class='ml-3'> Prijavi se</a>
                </div>
            </div>
          </div>
          <!-- /Oglas1-->


          
        
    </div>
    <!-- /Spisak oglasa-->





    <!-- Paginacija -->
    <nav>
        <!-- Telo paginacije-->
        <ul class="pagination justify-content-center mt-5    ">

            <!-- Prethodna -->
            <form action="" method="GET" >
                <button class="btn text-white bg-dark" name = 'strana' value="0" >Prethodna</button> 

                  <!-- Filteri -->
                  <input name = '' value = ''  hidden />  
                  <!-- /Filteri -->
                
            </form>
            <!-- Prethodna -->

            <!-- Trenutna -->
            <li class="page-item active "><a class="btn page-link text-warning bg-dark" href="#">2 </a></li>
            <!-- Trenutna -->

            <!-- Sledeća -->
            <form action="" method="GET" >
                <button class="btn text-white bg-dark" name = 'strana' value="0" >Sledeća&nbsp;&nbsp;&nbsp;&nbsp;</button> 
                <!-- Filteri -->
                    <input name = '' value = ''  hidden />  
                 <!-- /Filteri -->               
            </form>
            <!-- /Sledeća -->
        </ul>
        <!-- /Telo paginacije-->
    </nav>
    <!-- /Paginacija -->





    <!-- Footer -->
    <div class="container-fluid fixed-bottom footer">
        <!-- Linija -->
        <hr class='bg-white'>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-4 text-secondary">
                nikolavlad63@gmail.com
            </div>
            <div class="col-lg-4 col-sm-4 text-secondary">
                Web oglasi za posao - 2020 <sup>&copy</sup> 
            </div>
            
            <div class="col-lg-4 col-sm-4">
                <a href=""><i class="fab fa-instagram ml-3" style="color:blueviolet"></i></a>
                <a href=""><i class="fab fa-facebook ml-3"></i></a>
                <span class = 'text-secondary'><i class="fas fa-phone-alt ml-3"></i> 0123-456</span> 
            </div>
        </div>
    </div>
    <!-- Footer -->
 

 </body>