
/* ? Glavni deo */
body
{
    background-color: #142a4d;
    color: white;
    margin-top: 90px;
    margin-bottom: 130px;
    
}


.footer
{
    background-color: #142a4d;;
    padding-bottom: 10px;
}



.logoSlika
{
    width: 70px;
    height: 50px;
    object-fit: cover;
    margin-left: 30px;
    margin-right: 73px;
    background-size: cover;
}


.img404
{
    width: 90%;
    height: 800px;

}





    /* ?---------- o_nama.html ----------*/

    .onama
    {
        
        border-radius: 50px;
    }


    .eror-page
    {
       
        background-position: center;
      
        position: relative;
        margin: 0px;
        
    }

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        margin-right: 10px;
        position: relative;
        z-index: 2;
      }

















    /* ?---------- index.html ----------*/


/* ? Navigacija */
.navigation
{
    box-shadow: 0px 0px 20px rgba(255, 125, 4, 0.527);
    background-color: #343a40!important;
    
}


.dropdown .show a
{
    color : black;
} 


.dropdown .show a:hover
{
    background-color: rgb(2, 196, 255);
} 


    
.navbar-light .navbar-nav .nav-link {
    font-size: 17px;
    color : white;
}


/* ? Avatar korisnika */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 40px;
    border-radius: 60%;
    margin-left: 50px;
    margin-right: 30px;
    border: 1px solid rgb(150, 150, 150);
  }





  /* ? Kategorije */

  .kategorije
  {
      height: 30px;
      box-shadow: 0px 0px 10px rgba(51, 0, 0, 0.342);
  }

  .kategorije a
  {
      color: orange;
  }

.kategorije a:hover
{
    color:rgb(255, 217, 0);
    
}


/* ? Header */

.header-img
{
    background-image : url('../images/site/headPic.jpg');
    
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.senka
{
  border-radius: 30px ;
  background-color: rgba(0, 0, 0, 0.158);
}



.header-img .container
{
    position: relative;
    z-index: 10;
  
}

.header-bg
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342);
    z-index: 0;
    
}

.obojeniTekst
{
    color : rgb(0, 174, 255);
   
}


/* ? Poslovi */
.posao-card
{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.39);
    font-size: 18px;
    background-color: rgba(139, 139, 139, 0.39);
    border-radius: 20px;
    padding: 1rem;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}

.posao-card:hover
{
    transform: scale(1.1);
    transition: all 0.5s;
}


.posao-card a
{
    color: rgb(0, 0, 0); 
}

.posao-card a:hover
{
    color : rgba(255, 238, 0, 0.767);
}


/* ? Korisnici */

.profil
{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.178);
    width: 150px;
    height: 150px;
    border-radius: 80px;
    
}



    /* ?---------- kategorije.html ----------*/


    /* ?sve_kategorije.html*/
    .card
    {
       
        transition: all 0.1s;
    }

    .card:hover
    {
       
        transition: all 0.1s;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.37);
    }

    .card img
    {
        width: 20rem;
        height: 10rem;
        padding: 6px;
    }

    .card .card-body
    {
        padding: 15px;
    }

    

    /* ? kategorija.html */
    .posao-box
    {
        background-color: rgb(66, 66, 66); 
        height: 200px;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 5PX;
    }

  .kategorija-naslov
  {
      color : rgb(255, 255, 255);
      height: 100px;
      border-radius: 50px;
      padding: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178);
      margin-bottom: 30px;
  }


  /* ? nova_kategorija.html */
  .center
  {
    border-radius: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.116);  
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%; 
    padding-right: 10%; 
    background-color: rgba(0, 195, 255, 0.123);
    margin-bottom: 50px;
   
  }

  .center-style
  {
      color: rgba(255, 255, 255, 0.842);
      background-color:  rgba(28, 26, 61, 0.123);
  }
  
  .center-style:focus{
      background-color: rgba(0, 0, 0, 0.144);
      color: rgb(255, 255, 255);
      
  }


  /* ?---------- oglasi.html ----------*/

  /* ? oglas.html*/
  .oglas-naslov
  {
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.178); 
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
    
  }


  /* ? svi_oglasi.html*/
  .filter-style
  {
    background-color: rgba(139, 0, 0, 0);
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }

  .filter-style:focus
  {
    color:  rgb(255, 255, 255);
    background-color:  rgba(12, 0, 41, 0.055);
  }

  .filter-style option
  {
      background-color:#142a4d;
  }

  .filter-style option:focus-within
  {
      background-color:#ff0000;
  }


  
  /* ?---------- korisnici.html ----------*/

  /* ? korisik.html*/
  .profilna
  {
      width: 110px;
      height: 110px;
      background-color: black;
  }

  
  /* ?---------- login.html ----------*/  

  .log-form
  {
    background-color: rgba(83, 83, 83, 0.733); 
    padding : 3rem; 
    margin-top: 10%; 
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336); 
    color:rgb(255, 255, 255);
  }








