<!DOCTYPE html>
<html lang="en">
<head>
   <!--Required meta tags-->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Jquery-->
    <script src="/dist/jquery.js"></script>

   <!--Bootstrap CSS-->
   <link rel="stylesheet" href="/dist/css/bootstrap.min.css">

   <!--FontAwesome ikonice-->
   <link rel="stylesheet" href="/css/all.min.css">

   <!--Custom CSS-->
   <link rel="stylesheet" href="/stylesheets/style.css">

   <!--Title-->
   <title> <%- title %></title>

</head>

<body>
   
    <%- body %>


<!--Js fajlovi-------------------------------------------------------------------------------------------------------------------->
   
    <!--Bootstrap-->
    <script src="dist/js/bootstrap.min.js"></script>
    <!--FontAwesome-->
    <script src="/js/all.js"></script>
    <!--Custom JS-->
    <script src="javascripts/script.js"></script>

</body>
</html>